<div class="body">
    <div class="navbar-container">
      <app-navbar></app-navbar>
    </div>
    
    <div class="layout">
      <div class="sidebar-container">
        <app-sidebar></app-sidebar>
      </div>
  
      <div class="dashboard-container">
        <div class="cards-container">
          <app-cards></app-cards>
        </div>
        
        <div class="main-content">
          <div class="charts-container">
            <app-charts></app-charts>
          </div>
  
          <div class="projects-container">
            <app-projects></app-projects>
          </div>
  
          <div class="revenue-container">
            <app-revenue-sources></app-revenue-sources>
          </div>
          
          <div class="color-palette-container">
            <app-color-palette-component></app-color-palette-component>
          </div>
        </div>
      </div>
    </div>
  </div>
  